{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="list-group mt-4">
                {% if types %}
                {% for type in types %}

                <a href="{{ type.pk }}"
                    class="list-group-item list-group-item-action {% if id == type.pk %}active{% endif %}">
                    Add {{ type }}</a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-10">
            <h1>pc build</h1>
            <form action="" method="POST">
                {% csrf_token %}

                {{ pieceform.as_p }}
                <input type="submit" value="Добавить" class="btn btn-secondary">
            </form>
        </div>
    </div>
</div>
{% endblock content %}